
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Tapestry', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: black;
    overflow: hidden;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 115px;
    background: linear-gradient(135deg, #000000 10%, #060913 100%);
    border: white 5px solid;
    border-radius: 20px;
}

.container span {
    font-size: 75px;
    font-weight: 650;
    letter-spacing: 5px;
    color: white;
    margin: 12px 0px;
}

.inputs div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
    flex-direction: column-reverse;
    margin: 0px 35px;
}

.inputs div p {
    font-size: 45px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    svg {
        transform: rotate(-90deg);
        width: 655px;
        height: 655px;
    }

    body {
        background: black;
    }

    .inputs {
        margin-top: 35px;
        height: 135px;
        width: 80vw;
    }

    .inputs div {
        margin: 0px 15px;
    }

    .inputs div p {
        font-size: 53px;
    }

    .container {
        text-align: center;
        height: 175vh;
    }

    .container span {
        font-size: 75px;
        font-weight: 650;
        letter-spacing: 5px;
        color: white;
        margin: 0px;
    }
}
