
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Comforter', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(46, 46, 46);
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 125px;
    background: #000;
    border-radius: 20px;
}

.inputs div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
    flex-direction: column-reverse;
    margin: 0px 35px;
}

.inputs div p {
    margin-top: 10px;
    font-size: 45px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    svg {
        transform: rotate(-45deg);
        width: 455px;
        height: 355px;
    }

    .inputs {
        margin-top: 35px;
        flex-direction: row;
        width: 90vw;
        height: 15%;
    }

    .inputs div {
        margin: 0px 50px;
        white-space: nowrap;
    }

    .inputs div p {
        font-size: 55px;
    }

    .container {
        overflow: hidden;
    }
}